@{
    ViewData["Title"] = "About";
}
<p class="display-6 m-5 text-center" style="font-style: italic; font-weight: bold;">
    <span style=" text-shadow: 1px 1px red;">Study<i class="fa-solid fa-earth-americas"></i>Abroad</span> is here to help you succeed<br />
    in your study abroad experience.
</p>
<div class="row p-5 m-5 mx-auto" style="max-width: 1700px; font-size: 1.2rem;">
    <img class="col-lg-4 img-fluid mx-auto" src="~/images/student.jpg" alt="student" style="max-width: 500px" />
    <div class="col-lg-8 mt-5 mt-lg-0">
        <p>You are interested in studying abroad, but don't know where to start?</p>
        <p>Our experienced counselors will work with you to create the perfect plan to meet your goals.</p>
        <p>To study abroad, you not only need to find a school or program, <br />but also need to decide where to live, how to get a visa, and more before you go.</p>
        <p>Our professionals will work with you through these processes to ensure that <br />you have a smooth start to your study abroad experience.</p>
        <p>You can also meeting with students who have completed their study abroad program, <br />so that they can answer your questions!</p>
    </div>
</div>
