@{
    ViewData["Title"] = "Study Abroad";
}

<div class="bg-dark text-light p-5">
    <div class="row mx-auto" style="max-width: 1200px;">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-lg-5 mb-4">Contact Us</h1>
            <p>
                Do you have questions about our service?<br />
                Please call or email us, and we will be in touch soon.<br />
            </p>
            <p>
                Office: Traverse City MI<br />
                Hours: Monday through Friday, 9AM-5PM EST<br />
                Phone: +1 (231) 000-1234<br />
                Email: <a href="#" class="text-white">studyabroad@google.com</a><br />
            </p>
        </div>
        <img class="col-md-5 img-thumbnail mx-auto mt-3" src="~/images/contact.jpg" alt="contact" style="max-width: 350px;" />
    </div>
</div>
