@{
    ViewData["Title"] = "Home Page";
}

<div id="top-cover" class="row text-white">
    <h1 class="display-1 mt-5 col-4">Make your study abroad experience a success!</h1>
    <h2 class="mb-5 col-4 col-sm-3 offset-4 offset-sm-5 align-self-end">
        Everything you need is right here.<br /><br />
        From planning to the necessary procedures once you arrive.
    </h2>
</div>

<div class="row">
    <div class="p-5 px-md-3 col-sm-10 col-md col-xxl-5 offset-sm-1 offset-md-0 offset-xxl-1">
        <h4 class="mb-3 text-center">Upcoming Events <i class="fa-regular fa-calendar-days"></i></h4>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action"><span style="color: red;">&#9634;</span><span class="me-4"> 10/08/2024</span>Study Abroad Fair 2024</a>
            <a href="#" class="list-group-item list-group-item-action"><span style="color: red;">&#9634;</span><span class="me-4"> 10/15/2024</span>Everything about Visa [Europe] Webinar</a>
            <a href="#" class="list-group-item list-group-item-action"><span style="color: red;">&#9634;</span><span class="me-4"> 10/22/2024</span>Getting Scholarship Webinar<span class="badge bg-primary ms-2">New</span></a>
        </div>
    </div>
    <div class="p-5 px-md-3 col-sm-10 col-md col-xxl-5 offset-sm-1 offset-md-0">
        <h4 class="mb-3 text-center">Our Customer Voices <i class="fa-regular fa-comments"></i></h4>
        <h5>September</h5>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action"><span class="me-4"> 08/29/2024</span>Summer Camp for High School Student...</a>
            <a href="#" class="list-group-item list-group-item-action"><span class="me-4"> 08/11/2024</span>Exchange Program for College Students...</a>
            <a href="#" class="list-group-item list-group-item-action"><span class="me-4"> 08/02/2024</span>Workshop for College Students - Germa...</a>
        </div>
    </div>
</div>

<div class="row text-center">
    <h4 class="my-5">Steps to Success <i class="fa-solid fa-graduation-cap"></i></h4>
    <div class="bg-light border border-5 border-danger rounded-3 p-3 mx-md-3 mb-5 col-10 col-md offset-1">
        <h5>Step1: Talk to a professional</h5>
        <p>
            We have many experienced counselors who can help you.
            Depending on where, how long, and what type of study abroad you want to do, we will match you with the right counselor!
            Your counselor is your study abroad partner. Please feel free to consult with us about anything!
        </p>
    </div>
    <div class="bg-light border border-5 border-warning rounded-3 p-3 mx-md-3 mb-5 col-10 col-md offset-1">
        <h5>Step2: Join our a Seminars</h5>
        <p>
            We have many experienced counselors who can help you.
            Depending on where, how long, and what type of study abroad you want to do, we will match you with the right counselor!
            Your counselor is your study abroad partner. Please feel free to consult with us about anything!
        </p>
    </div>
    <div class="bg-light border border-5 border-primary rounded-3 p-3 mx-md-3 mb-5 col-10 col-md offset-1">
        <h5>Step3: Check your Status</h5>
        <p>
            We have many experienced counselors who can help you.
            Depending on where, how long, and what type of study abroad you want to do, we will match you with the right counselor!
            Your counselor is your study abroad partner. Please feel free to consult with us about anything!
        </p>
    </div>
</div>

<div class="row">

    <p>Sign up today and get a full access!</p>
    <button class="nav-link text-dark col-1 align-content-center" asp-area="Identity" asp-page="/Account/Register">Register</button>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>
