@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "Study Abroad";
}

<div id="top-cover" class="row text-white">
    <h1 class="display-1 mt-5 col-4">Make your study abroad experience a success!</h1>
    <h2 class="mb-5 col-4 col-sm-3 offset-4 offset-sm-5 align-self-end" style="text-shadow: 1px 1px black;">
        Everything you need is right here.<br /><br />
        From planning to the necessary procedures once you arrive.
    </h2>
</div>

<div class="row">
    <div class="p-5 px-md-3 col-sm-10 col-md col-xxl-5 offset-sm-1 offset-md-0 offset-xxl-1">
        <h4 class="mb-3 text-center">Upcoming Events <i class="fa-regular fa-calendar-days"></i></h4>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action"><span style="color: red;">&#9634;</span><span class="me-4"> 1/08/2025</span>Study Abroad Fair 2025</a>
            <a href="#" class="list-group-item list-group-item-action"><span style="color: red;">&#9634;</span><span class="me-4"> 1/15/2025</span>Everything about Visa [Europe] Webinar</a>
            <a href="#" class="list-group-item list-group-item-action"><span style="color: red;">&#9634;</span><span class="me-4"> 1/22/2025</span>Getting Scholarship Webinar<span class="badge bg-primary ms-2">New</span></a>
        </div>
    </div>
    <div class="p-5 px-md-3 col-sm-10 col-md col-xxl-5 offset-sm-1 offset-md-0">
        <h4 class="mb-3 text-center">Our Customer Voices <i class="fa-regular fa-comments"></i></h4>
        <h5>September</h5>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action"><span class="me-4"> 08/29/2024</span>Summer Camp for High School Student...</a>
            <a href="#" class="list-group-item list-group-item-action"><span class="me-4"> 08/11/2024</span>Exchange Program for College Students...</a>
            <a href="#" class="list-group-item list-group-item-action"><span class="me-4"> 08/02/2024</span>Workshop for College Students - Germa...</a>
        </div>
    </div>
</div>

<div class="row text-center mx-md-5">
    <h4 class="my-5">Steps to Success <i class="fa-solid fa-graduation-cap"></i></h4>
    <div class="bg-light border border-5 border-danger rounded-3 p-3 mx-md-3 mb-5 col-10 col-md offset-1">
        <h5>Step1: Talk to a professional</h5>
        <p>
            We have many experienced counselors who can help you.
            Depending on where, how long, and what type of study abroad you want to do, we will match you with the right counselor!
            Your counselor is your study abroad partner. Please feel free to consult with us about anything!
        </p>
    </div>
    <div class="bg-light border border-5 border-warning rounded-3 p-3 mx-md-3 mb-5 col-10 col-md offset-1">
        <h5>Step2: Join our a Seminars</h5>
        <p>
            Attend our seminar and receive information and advice that you need to succeed in your study abroad experience!
            Our advisors have studied abroad and possess extensive experience counseling students on studying abroad.
            You will surely get useful advice from them!
        </p>
    </div>
    <div class="bg-light border border-5 border-primary rounded-3 p-3 mx-md-3 mb-5 col-10 col-md offset-1">
        <h5>Step3: Check your Status</h5>
        <p>
            There are many procedures and steps involved from the time you decide to study abroad to the time you step foot in the country you will study in.
            Register as a member so that you can see at a glance the progress of your study abroad plan and be able to complete necessary procedures!
        </p>
    </div>
</div>
