@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row m-5">
    <h1 style="font-weight: bold; font-family: monospace;">@ViewData["Title"]</h1>

    <p>We do not share or sell any information you provided in this application to third parties.</p>
</div>
