@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <h1>@ViewData["Title"]</h1>

    <p>We do not share or sell any inmformation you provided in this application to third parties.</p>
</div>
