/* general styling */
body {
    overflow-y: hidden;
    background-color: #F2F0EB;
}

.container-fluid {
    overflow-x: hidden;
}

a:hover, a:active {
    color: red;
}

.btn {
    font-weight: bold;
}

/* navbar styling */
.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-nav .nav-item .nav-link:hover, .nav-link:active {
    color: red;
}

/* table styling */
.cover {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    overflow-x: auto;
}

.table {
    color: white;
}

.cover a {
    color: white;
}

th, label, dt {
    font-size: 1.2rem;
    font-weight: bold;
}

td, dd {
    font-size: 1.1rem;
}

/* index page */
#top-cover {
    margin: 0;
    padding: 0;
    height: 45rem;
    background: url("../images/main.jpg") no-repeat;
    background-size: cover;
    background-position-x: center;
}



/* 
    color schemeを考える
    できるだけbootstrap contextual text & backgroundを使う  Index Page Comment
    全てのページでgrid layoutを使う (with rows and columns)
    全てのページのheading and titleは同じようなものにする。


    Contact Page Image Styling Comment

    基本は赤
    リスト以外のテーブルとかでも目立つか試す。
    text

        background-color: #F2F0EB;
        font-family: Papyrus;


    <i class="fa-solid fa-graduation-cap"></i>
    <i class="fa-solid fa-plane"></i>
    <i class="fa-solid fa-globe"></i>
    <i class="fa-solid fa-passport"></i>
    <i class="fa-solid fa-plane-departure"></i>
    <i class="fa-solid fa-suitcase-rolling"></i>

    カレンダー　カウンセリング
    ビザ情報
    コラム
    どうやって選ぶか
    なにから始めるのか
    サービス
    １０１
    F&Q
    パッケージ　宿泊・航空券
    メンバー限定

    all in one application for study abroad
    planning to tracking, gathering the information

    Index page は別の共有レイアウトを使っている。↓
    Shared > _LayoutIndex.cshtml, Shared > _LayoutIndex.cshtml.css
    @{ Layout = null; } で Index page に移動させることもできるけど、
    2つのファイル分を1つのファイルに含めないといけないから、別の共有ファイルを作ってる。

*/
