/* general styling */
body {
    overflow-y: hidden;
}

.container-fluid {
    overflow-x: hidden;
}

/* navbar styling */
.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-nav .nav-item .nav-link:hover, .nav-link:active {
    color: red;
}

/* index page */
#top-cover {
    margin: 0;
    padding: 0;
    height: 40rem;
    background: url("../images/main.jpg") no-repeat;
    background-size: cover;
    background-position-x: center;
}

h2 {
    text-shadow: 1px 1px black;
}

a:hover {
    color: red;
}

/* institution index page */
#list-wrapper {
    font-family: monospace;
    color: white;
    background-image: url("../images/uni.jpg");
    background-size: cover;
    height: 100vh;
}

#tablecover {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow-x: auto;
}

.table {
    color: white;
}

#tablecover a {
    color: white;
}

/* 
    color schemeを考える
    できるだけbootstrap contextual text & backgroundを使う
    全てのページでgrid layoutを使う (with rows and columns)
    全てのページのheading and titleは同じようなものにする。

    基本は赤
    リスト以外のテーブルとかでも目立つか試す。
    text

        background-color: #F2F0EB;
        font-family: Papyrus;


    <i class="fa-solid fa-graduation-cap"></i>
    <i class="fa-solid fa-plane"></i>
    <i class="fa-solid fa-globe"></i>
    <i class="fa-solid fa-passport"></i>
    <i class="fa-solid fa-plane-departure"></i>
    <i class="fa-solid fa-suitcase-rolling"></i>

    イベント
    カレンダー　カウンセリング
    ビザ情報
    年齢
    学年
    期間
    種類
    国
    コラム
    目的
    どうやって選ぶか
    なにから始めるのか
    サービス
    １０１
    費用
    学校検索
    体験談
    F&Q
    パッケージ　宿泊・航空券
    メンバー限定

    all in one application for study abroad
    planning to tracking, gathering the information

*/
