@using StudyAbroad.Models;
@model IEnumerable<StudyAbroad.ViewModel.InstitutionGroup>

@{
    ViewData["Title"] = "Institution Statistics";
}

<h1 style="font-weight: bold; font-family: monospace;" class="m-5">@ViewData["Title"]</h1>
<table class="table text-black m-5" style="max-width: 800px;">
    <tr style="font-weight: bold; font-family: monospace;">
        <th>
            Institution Name
        </th>
        <th>
            #Programs
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.InstitutionID
            </td>
            <td>
                @item.InstitutionCount
            </td>
        </tr>
    }
</table>
